<div>
 <!-- <h1 style="font-size: 64px; font-family: Helvetica; color:#9b9b9c">Bo<a style="color:#0b33a3; background-color:#fff">o</a>merang.</h1>-->
  <ul id="nav">
    <li><a href="#">ABOUT US</a></li>
    <li><%= link_to "SIGN UP", signup_path%></li>
  </ul>
</div>
